nav, button{
    font-size: 1.1em !important;
}

.navbar-brand{
    font-size: 1.5em;
}

header{
    background: url('image/Globe.jpg');
    background-size: cover;
}

.boxes{
    margin-top: 100px;
}

.boxes > div{
    background: rgba(255, 255, 255, 0.9);
}

.contact{
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer{
    background: rgba(0, 0, 0, .9)
}